* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  html {
    font-family: 'Arial';
  }
  .header {
    width: 100%;
    
    padding: 50px;
    
    display: flex;
    justify-content: space-between;
    z-index: 2;
    position: fixed;
    color: #E50043;
    background: #FFFFFF;
    font-size: 50px;
    top: 0px;
    left: 0px;
    
    
  }
  .links {
    display: flex;
    flex-direction: row;
  }
  .link {
    margin-left: 25px;
  }
  .hero-block {
    background-size: cover;
    height: 950px;
    left: 0px;
    top: 140px;
    background-image: url(images/evian_origins_logo.png);
    margin-top: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .hero-name {
    
    color: #E50043;
   
    font-style: normal;
    font-weight: 400;
    font-size: 100px;
    line-height: 115px;
    

  }
  .text-block {
    box-sizing: border-box;
    font-size: 25px;
    width: 1040px;
    height: 320px;
    margin: 200px auto;
    border: 3px solid #F8BFC7;
    border-radius: 20px;
    padding: 24px;
  }

  p {
    margin-top: 25px;
   
  }
  .image-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
     text-align: center;
    padding: 40px;
    width: 1040px;
    margin: 0 auto;
    
  }

  .footer {
    width: 1440px;
height: 140px;
padding: 50px;
color: #FFFFFF;
font-size: 50px;
background: #F8BFC7;
  }
  .block-one {
    background-repeat: no-repeat;
    margin: 20px;
    float: left;
  }
  .text-block-two {
    display: flex;
    flex-direction: row;
  }
  