* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  html {
    font-family: Helvetica;
    font-size: 25px;
  }
  .content {
    font-size: 25px;
    font-weight: 700;
    display: flex;
    flex-direction: column;
    align-items: center;
    vertical-align: middle;

  } 
  p {
    text-align: center;
    
  }
  .content-item {
    min-width: 90%;
     height: 165px;
     position: relative;
    border: 5px solid black;
    margin: 25px;
    
    
  }
  
  header {
    background-color: #0000FF;
    color: white;
    top: 0;
    left: 0;
    padding: 20px;
  }
  footer {
    display: flex;
    justify-content: space-between;
    background-color: #0000FF;
    color: white;
    padding: 20px;
  }
  @media only screen and (min-width: 800px) {
    .content-item {
     display: inline-block;    
     min-width: 30%;
     max-width: 50%;
     min-height: 100%; 
     position: relative;
     font-size: 50px;
     align-items: center;
     text-align: center;
    }
   }